- content_for :breadcrumbs do
  = link_to @message.box(current_user).capitalize, messages_path(view: @message.box(current_user))
  &raquo;
  %b= @message.subject

.post-header
  .padding-15
    %span= @message.subject
= render partial: 'single', locals: {message: @message}
.right-align.margin-5
  = link_to new_message_path(reply_id: @message.id) do
    .link-box.green Reply &raquo;

- if @message.thread_id
  .post-header
    .padding-15
      %span Full Message Thread
  - Message.where(thread_id: @message.thread_id).order('id asc').each do |message|
    = render partial: 'single', locals: {message: message}
