- klass = cycle('even', 'odd')

.post-container{class: [klass, reply.is_a?(Post) ? 'post-post' : (reply.is_a?(Reply) ? 'post-reply' : '')]}
  - if reply.is_a?(Reply) && reply.id.present?
    <a name="reply-#{reply.id}"></a>
  - if reply.id.present? && logged_in? && !@unread.nil?
    - if reply.id == @unread.id && reply.class == @unread.class
      <a name="unread"></a>
  .padding-10
    .post-info-box
      - if reply.icon
        .post-icon
          = link_to icon_path(reply.icon) do
            = icon_tag reply.icon
      .post-info-text
        - if reply.character
          .post-character
            = link_to reply.character.name, character_path(reply.character)
          - if reply.character.screenname
            .post-screenname= reply.character.screenname
        - else
          .dark.spacer
        .post-author
          = link_to reply.user.username, user_path(reply.user)
    .post-edit-box
      - if reply.id.present?
        = link_to post_or_reply_link(reply) do
          = image_tag "/images/link.png", title: 'Permalink', alt: 'Permalink'
      - if reply.id.present? && reply.editable_by?(current_user)
        = link_to path_for(reply, 'edit_%s') do
          = image_tag "/images/pencil.png"
        = link_to path_for(reply, '%s'), method: :delete, confirm: 'Are you sure? This will delete this post AND any post that follows it!' do
          = image_tag "/images/cross.png"
    .post-content
      = sanitize(reply.content.include?("<p>") ? reply.content : reply.content.gsub("\n","<br/>")).html_safe
  .post-footer
    .right-align>
      .padding-5>
        - if reply.created_at
          = precede 'Posted ' do
            %span.post-posted=pretty_time(reply.created_at)
        - if reply.id.present? && reply.created_at.to_i != reply.last_updated.to_i
          = surround ' | Updated ', ' | ' do
            %span.post-updated=pretty_time(reply.last_updated)
          = link_to 'See History', path_for(reply, 'history_%s'), class: 'post-history'
