%div{style: 'width: 500px; margin: 0px auto; background-color: #8B8687; color:#eeeeee; padding: 0px; font-size: 18px;'}
  %div{style: 'padding: 15px; overflow: hidden;'}
    %span{style: 'line-height: 28px;'}
      New reply in
      = link_to @reply.post.subject, reply_url(@reply, host: 'vast-journey-9935.herokuapp.com'), style: 'color: #eeeeee;'

%div{style: 'background-color: #D8D8D8; overflow: auto; width: 500px; margin: 0px auto;'}
  %div{style: 'padding: 10px; text-align: left;'}
    %div{style: 'text-align: center; padding: 0px; float: left; margin-right: 10px; margin-bottom: 10px; width: 150px; overflow: visible;'}
      - if @reply.icon
        %div{style: 'padding: 0px; background-color: #B0BBA9;'}
          = icon_tag @reply.icon, style: 'margin: 10px; vertical-align: middle; position: relative; max-height: 100px; max-width: 100px;'
      - if @reply.character
        %div{style: 'background-color: #8B8687; padding: 4px; position: relative;'}
          = @reply.character.name
        - if @reply.character.screenname
          %div{style: 'background-color: #a3a1a0; padding: 4px; overflow-wrap: break-word; word-wrap: break-word;'}
            = @reply.character.screenname
      - else
        %div{style: 'height: 2px; background-color: #8B8687;'}
      %div{style: 'padding: 5px; background-color: #B9B6AD; position: relative;'}
        = @reply.user.username
    = sanitize(@reply.content.gsub("\n","<br/>")).html_safe
