- content_for :breadcrumbs do
  - if @user.id == current_user.try(:id)
    = link_to "Characters", characters_path
    &raquo;
    %b Templates
  - else
    = link_to "#{@user.username}'s Characters", user_characters_path(@user)
    &raquo;
    %b #{@user.username}'s Templates

%table
  %tr
    %th.padding-10
      - if @user.id == current_user.try(:id)
        Your Templates
        = link_to new_template_path do
          .link-box.green + New Template
      - else
        = @user.username + "'s Templates"

- @templates.includes(:characters).order('name asc').each do |template|
  = render partial: 'single', locals: {title: link_to(template.name, template_path(template)), template: template}
