= form_for current_user, :url => user_path(current_user), :method => :put do |f|
  %table.form-table
    %tr
      %th.centered{colspan: 2} Account Settings
    %tr
      %th.sub Username
      %td.even= f.text_field :username, placeholder: "Username", class: 'text'
    %tr
      %th.sub Email
      %td.odd= f.text_field :email, placeholder: "Email address", class: 'text'
    %tr
      %th.sub Notifications
      %td.even
        = f.check_box :email_notifications, class: 'width-15 vmid'
        Email about new tags
    %tr
      %th.sub Paging
      %td.odd= f.select(:per_page, per_page_options(current_user.per_page))
    %tr
      %th.sub Time zone
      %td.even= f.select(:timezone, timezone_options(current_user.timezone))
    %tr
      %th.sub Split icon picker
      %td.odd
        = f.check_box :icon_picker_grouping, class: 'width-15 vmid'
        Group the icon picker by gallery
    %tr
      %th.sub Default View
      %td.even= f.select(:default_view, options_for_select({Icon: 'icon', List: 'list'}, current_user.default_view))
    %tr
      %th.sub Default Editor
      %td.odd= f.select(:default_editor, options_for_select({'Rich Text' => 'rtf', HTML: 'html'}, current_user.default_editor))
    %tr
      %th.sub Moiety Hex
      %td.even
        \#
        = f.text_field :moiety, placeholder: "Hex code", class: 'text', style: 'width: 80px;', maxlength: 6
    %tr
      %th.sub Moiety Name
      %td.even= f.text_field :moiety_name, placeholder: "Moiety", class: 'text'
    %tr
      %th.sub Layout
      %td.odd= f.select :layout, layout_options(current_user.layout)
    %tr
      %th.centered.subber{colspan: 2}= submit_tag "Save", class: 'button'

%br
= form_for current_user, :url => password_user_path(current_user), :method => :put do |f|
  %table.form-table
    %tr
      %th.centered{colspan: 2} Change Password
    %tr
      %th.sub Old
      %td.even= password_field_tag :old_password, params[:old_password], :placeholder => "Old Password", :class => 'text'
    %tr
      %th.sub New
      %td.odd= f.password_field :password, :placeholder => "New Password", :class => 'text', :value => (params[:user]||{})[:password]
    %tr
      %th.sub Confirm
      %td.even= f.password_field :password_confirmation, :placeholder => "Confirm Password", :class => 'text', :value => (params[:user]||{})[:password_confirmation]
    %tr
      %th.centered.subber{colspan: 2}= submit_tag "Save", class: 'button'
