%tr
  %td.green.left-align
    .gallery
      - @characters.includes(:default_icon).each do |character|
        .gallery-icon
          = link_to character_path(character) do
            - if character.icon
              = icon_tag character.icon
              %br
            - else
              <div class='icon gallery-no-icon'>&nbsp;</div>
              %br
            %span.character-name= character.name
          - if character.user_id == current_user.try(:id)
            .delete-button{ id: character.id }
              = link_to 'X', character_path(character), :method => :delete, confirm: 'Are you sure you want to delete '+character.name+'?'
      - if @characters.empty?
        .centered — No characters yet —
