- content_for :breadcrumbs do
  = link_to "Characters", characters_path
  &raquo;
  - if @character.template
    = link_to "Templates", templates_path
    &raquo;
    = link_to @character.template.name, template_path(@character.template)
    &raquo;
  = link_to @character.name, character_path(@character)
  &raquo;
  %b Edit

= form_for @character, url: character_path(@character), method: :put do |f|
  %table.form-table
    %tr
      %th.centered{colspan: 2}= @character.name
    = render partial: 'editor', locals: {f: f}
    