%table
  %tr
    %th{colspan: 6}
      - if @group
        Character Group:
        = @group.name
      - else
        - if @user.id == current_user.try(:id)
          Your
        - else
          = @user.username + "'s"
        Characters
      - if @user.id == current_user.try(:id)
        = link_to new_character_path(character_group_id: @group.try(:id)) do
          .link-box.green + New Character
      = link_to url_for(view: 'icons') do
        .view-button{class: (:selected unless page_view == 'list')}
          = image_tag '/images/grid.png', class: 'icon-view', alt: ''
          Icons
      = link_to url_for(view: 'list') do
        .view-button{class: (:selected if page_view == 'list')}
          = image_tag '/images/list.png', class: 'list-view', alt: ''
          List
  - if page_view == 'list'
    = render partial: 'list_view'
  - else
    = render partial: 'icon_view'
