- content_for :breadcrumbs do
  - if @character.user_id == current_user.try(:id)
    = link_to "Characters", characters_path
  - else
    = link_to "#{@character.user.username}'s Characters", user_characters_path(@character.user)
  - if @character.template
    &raquo;
    - if @character.user_id == current_user.try(:id)
      = link_to "Templates", templates_path
    - else
      = link_to "#{@character.user.username}'s Templates", user_templates_path(@character.user)
    &raquo;
    = link_to @character.template.name, template_path(@character.template)
  &raquo;
  %b= @character.name

.character-info
  - if @character.icon
    .character-icon
      = link_to icon_path(@character.icon) do
        = icon_tag @character.icon
  - if @character.screenname
    %b.character-screenname= @character.screenname
    %br
  %span.character-name= @character.name
  - if @character.template
    = surround '(', ')' do
      = link_to @character.template.name, template_path(@character.template), class: 'character-template'
  - if @character.template_name
    %br
    = precede 'Nickname: ' do
      %span.character-template-nickname=@character.template_name
  - if @character.pb
    %br
    =precede 'Played by: ' do
      %span.character-pb= @character.pb
  - if logged_in? && current_user.id == @character.user_id
    %br
    = link_to 'Edit character', edit_character_path(@character), class: 'character-edit'
%br
- if @posts.present?
  - content_for :posts_title do 'Recent Threads' end
  = render partial: 'posts/list', locals: {posts: @character.recent_posts.includes(:board, :user, :last_user), path: :character_path}
%br
- if @character.galleries.present?
  %table
    %thead
      %tr
        %th Galleries
    %tbody
      - @character.galleries.includes(:user).each do |gallery|
        = render partial: 'galleries/single', locals: {gallery: gallery, klass: 'subber', skip_forms: true}
