- content_for :breadcrumbs do
  = link_to "Boards", boards_path
  &raquo;
  %b= @board.name

- content_for :posts_title do
  = @board.name
  - if logged_in?
    - if @board.open_to?(current_user)
      = link_to new_post_path params: {board_id: @board.id} do
        .link-box.green + New Post
    - if @board.editable_by?(current_user)
      = link_to edit_board_path(@board) do
        .link-box.blue
          = image_tag "/images/pencil.png"
          Edit
      = link_to board_path(@board), method: :delete, confirm: 'Are you sure you want to delete this continuity?' do
        .link-box.red x Delete

- if @board.id == 1
  %table
    %thead
      %tr
        %th{colspan: 6}= content_for :posts_title
    %tbody
      - @board.board_sections.order('section_order asc').each do |section|
        %tr
          %th.sub{colspan: 5}
            - if section.status == Post::STATUS_COMPLETE
              = image_tag "/images/book_purple.png", title: "Section Complete"
            - else
              = image_tag "/images/book_open_purple.png", title: "Section In Progress"
            &nbsp;
            = section.section_order.to_s + ". " + section.name
        - section.posts.order('section_order asc').each do |post|
          %tr
            - klass = cycle('even','odd')
            %td.padding-10{class: klass}
              - if post.status == Post::STATUS_COMPLETE
                = image_tag "/images/book.png", title: "Thread Complete"
              - else
                = image_tag "/images/book_open.png", title: "Thread In Progress"
            %td.padding-10{class: klass}
              = link_to post.subject, post_path(post)
            %td.padding-10{class: klass}= pretty_time(post.tagged_at)
- else
  = render partial: 'posts/list', locals: {posts: @posts, hide_continuity: true, path: :board_path}
