- klass = cycle('even', 'odd')
#post-editor.padding-10{class: klass}
  .post-info-box
    #current-icon-holder.post-icon
      - if item.icon
        = icon_tag item.icon, id: 'current-icon', pointer: item.has_icons?
      - elsif item.character.nil? && current_user.avatar
        = icon_tag current_user.avatar, id: 'current-icon', pointer: item.user.avatar_id?
      - else
        = no_icon_tag id: 'current-icon', pointer: item.has_icons?
      #icon-overlay
    .post-info-text
      .post-character{class: ('hidden' unless item.character)}= item.character.try(:name)
      .post-screenname{class: ('hidden' unless item.character.try(:screenname))}= item.character.try(:screenname)
      #post-author-spacer.dark.spacer{class: ('hidden' if item.character)}
      .post-author
        = item.user.username
        - if current_user.characters.present?
          = image_tag ((current_user.layout == 'starrydark' or current_user.layout == 'starry' or current_user.layout == 'starrylight') ? '/images/swapgray.png' : '/images/swap.png'), :id => 'swap-icon', :alt => ">"
          #character-selector.beige
            %b Choose Character
            = select_tag :active_character, 
            option_groups_from_collection_for_select(@templates, :ordered_characters, :name, :id, :selector_name, @character.try(:id)),
            { :include_blank => true, :prompt => current_user.username }
            %br
  #gallery.green
    - if item.character.nil?
      - if current_user.avatar
        .gallery-icon
          = icon_tag current_user.avatar, id: current_user.avatar.id, pointer: true
          %br> Avatar
    - elsif item.character.galleries.present?
      - if current_user.icon_picker_grouping && item.character.galleries.count > 1
        - galleries = item.character.galleries.includes(:icons).order('name asc')
        - galleries.each do |gallery|
          .gallery-group
            .gallery-name= gallery.name
            - gallery_icons = gallery.icons.uniq.sort_by{|i| i.keyword}
            - gallery_icons.each do |icon, icon_index|
              .gallery-icon
                = icon_tag icon, id: icon.id, pointer: true
                %br>
                = icon.keyword
      - else
        - icons = item.character.galleries.map(&:icons).flatten.uniq.sort_by{|i| i.keyword}
        - icons.each do |icon|
          .gallery-icon
            = icon_tag icon, id: icon.id, pointer: true
            %br>
            = icon.keyword
    - elsif item.character.default_icon.present?
      .gallery-icon
        = icon_tag item.character.default_icon, id: item.character.default_icon.id, pointer: true
        %br>
        = item.character.default_icon.keyword
    .gallery-icon
      = no_icon_tag id: '', pointer: true
      %br> No Icon
  = yield :form
  .clear &nbsp;
