%tr
  - klass = cycle('even', 'odd')
  - replies_count = post.replies.count
  %td.padding-10.post-completed{class: [klass, (post.completed? ? 'post-complete' : 'post-incomplete')]}
    - if post.completed?
      = image_tag "/images/book.png", class: 'vmid', title: "Thread Complete"
    - if post.on_hiatus?
      = image_tag "/images/hourglass.png", class: 'vmid', title: "Thread On Hiatus"
  %td.padding-10.post-subject{class: klass}
    = link_to post.subject, post_path(post)
    - if (!logged_in? || per_page > 0)
      - total_pages = (replies_count.to_f / per_page).ceil
      - if total_pages > 1
        = surround '[', ']' do
          - if total_pages <= 6
            - total_pages.times do |index|
              = link_to (index + 1), post_path(post, page: index + 1)
          - else
            = link_to 1, post_path(post, page: 1)
            = link_to 2, post_path(post, page: 2)
            = link_to 3, post_path(post, page: 3)
            \...
            - (total_pages-2).upto(total_pages) do |index|
              = link_to (index), post_path(post, page: index)
    - if logged_in? && @show_unread
      = link_to post_path(post, page: 'unread', anchor: 'unread') do
        = image_tag "/images/link.png", class: 'vmid', title: 'First Unread'
  - unless hide_continuity
    %td.padding-10.post-board{class: klass}= link_to post.board.name, board_path(post.board)
  %td.padding-10.post-authors{class: klass}= post.authors.map { |author| link_to author.username, user_path(author) }.join(', ').html_safe
  %td.padding-10.width-70.post-replies{class: klass}= replies_count
  %td.padding-10.post-time{class: klass}
    = pretty_time(post.tagged_at)
    by
    = link_to post.last_user.username, user_path(post.last_user)
