.post-header
  .padding-15= @post.subject
- if @post.description.present?
  .post-subheader
    .padding-15= sanitize(@post.description, tags: %w(a), attributes: %w(href)).html_safe
= render partial: 'replies/single', locals: {reply: @written, show_edit: false}
= render partial: 'write_post', locals: { post: @post, url: @url, method: @method }
