- content_for :breadcrumbs do
  = link_to "Boards", boards_path
  &raquo;
  = link_to @post.board.name, board_path(@post.board)
  &raquo;
  %b= @post.subject

.post-header
  .padding-15
    %span#post-title= link_to @post.subject, post_path(@post)
    .view-button#post-menu
      = image_tag ((current_user.layout == 'starrydark' or current_user.layout == 'starry' or current_user.layout == 'starrylight') ? '/images/menugray.png' : '/images/menu.png'), class: 'icon-view'
#post-menu-holder
  #post-menu-box.hidden
    / TODO Throne3d is writing an ePub downloader
    /= link_to post_path(@post, completed: false), method: :put do
    /  %div
    /    = image_tag '/images/book_go.png'
    /    Download as ePub
    = link_to post_path(@post, view: 'flat') do
      %div
        = image_tag '/images/page_world.png'
        View Flat HTML
    - if logged_in?
      - if @post.metadata_editable_by?(current_user)
        - unless @post.completed?
          = link_to post_path(@post, status: 'complete'), method: :put do
            %div
              = image_tag '/images/book.png'
              Mark Complete
        - unless @post.on_hiatus?
          = link_to post_path(@post, status: 'hiatus'), method: :put do
            %div
              = image_tag '/images/hourglass.png'
              Put On Hiatus
        - unless @post.active?
          = link_to post_path(@post, status: 'active'), method: :put do
            %div
              = image_tag '/images/book_open.png'
              Mark In Progress
      = link_to post_path(@post, unread: true), method: :put do
        %div
          = image_tag '/images/eye.png', class: 'vmid', style: 'margin-bottom: 3px;'
          Mark Unread
      / TODO need more dynos before I can create this feature
      /= link_to users_path do
      /  %div
      /    = image_tag '/images/bell_add.png'
      /    Turn on notifications
- if @post.description.present?
  .post-subheader
    .padding-10
      %span= sanitize(@post.description, tags: %w(a), attributes: %w(href)).html_safe
- if @prev_post || @next_post
  .post-navheader
    .padding-10
      - if @next_post
        = link_to post_path(@next_post) do
          .view-button Next Post &raquo;
      - if @prev_post
        = link_to post_path(@prev_post) do
          .view-button.float-none &laquo; Previous Post
      .clear

- if page.to_i == 1
  = render partial: 'replies/single', locals: {reply: @post}
- else
  .post-expander
    .info + Show First Post
    .hidden
      = render partial: 'replies/single', locals: {reply: @post}
- if @replies.present?
  = render partial: 'posts/paginator', locals: { paginated: @replies, path: :post_path }
- @replies.each do |reply|
  = render partial: 'replies/single', locals: {reply: reply}
- if @post.completed? && @replies.last.id == @post.replies.order('id desc').first.id
  .post-ender Here Ends This Thread
- if @replies.present?
  = render partial: 'posts/paginator', locals: { paginated: @replies, path: :post_path }
- if logged_in? && !@post.completed? && current_user.writes_in?(@post.board)
  - if @post.authors.include?(current_user)
    = render partial: 'posts/write_reply', locals: { reply: @reply, url: replies_path, method: :post }
  - else
    .post-expander
      .info + Join Thread
      .hidden
        = render partial: 'posts/write_reply', locals: { reply: @reply, url: replies_path, method: :post }

.centered.margin-10= link_to 'Back to Top', '#'

- unless true # threaded
  %table
    %tr
      %th{colspan: 2}
        = @post.subject
        - if params[:thread_id].present?
          = link_to post_path(@post) do
            .link-box.green &laquo; Thread Index
