= form_tag mark_posts_path, :method => :post do
  %table
    %tr
      %th{colspan: 7} Unread Posts
    %tr
      %th.sub.width-15
      %th.sub Thread
      %th.sub Continuity
      %th.sub Authors
      %th.sub Replies
      %th.sub Last Updated
      %th.sub
    - @posts.each do |post|
      - next unless post.visible_to?(current_user)
      %tr
        - klass = cycle('even', 'odd')
        %td.icon-box{class: klass}
          - if post.completed?
            = image_tag "/images/book.png", class: 'vmid', title: "Thread Complete"
        %td.padding-10.padding-left-5{class: klass}
          = link_to post.subject, post_path(post)
          - if @opened_ids.include?(post.id)
            = link_to post_path(post, page: 'unread', anchor: 'unread') do
              = image_tag "/images/link.png", class: 'vmid', title: 'First Unread'
        %td.padding-10{class: klass}= link_to post.board.name, board_path(post.board)
        %td.padding-10{class: klass}= post.authors.map { |author| link_to author.username, user_path(author) }.join(', ').html_safe
        %td.padding-10.width-70{class: klass}= post.replies.count
        %td.padding-10{class: klass}
          = pretty_time(post.tagged_at)
          by
          = link_to post.last_user.username, user_path(post.last_user)
        %td{class: klass}= check_box_tag :"marked_ids[]", post.id
    - if @posts.empty?
      %tr
        %td.centered.padding-10{ class: cycle('even','odd'), colspan: 6 } — No posts yet —
    - else
      %tr
        %td.right-align.padding-5{colspan: 7, class: cycle('even', 'odd')}
          = submit_tag "Hide from Unread", class: 'button'
          = submit_tag "Mark Read", class: 'button'
%br
= form_tag mark_boards_path, :method => :post do
  %table.float-left.form-table
    %tr
      %th Mark Entire Continuity
    %tr
      %td.even.padding-5.centered
        = select_tag :board_id, 
                     options_from_collection_for_select(Board.all, :id, :name, params[:board_id]), 
                     {class: 'chosen-select', prompt: '— Choose Continuity —'}
    %tr
      %th.subber
        = submit_tag "Hide from Unread", class: 'button'
        = submit_tag "Mark Read", class: 'button'

