%tr.gallery-header
  %th.padding-10{class: (klass if defined? klass)}
    = link_to gallery.name, gallery_path(gallery), class: 'gallery-title'
    - if gallery.user == current_user and not defined? skip_forms
      = link_to add_gallery_path(gallery), class: 'gallery-add' do
        .link-box.green + Add Icons
      = link_to edit_gallery_path(gallery), class: 'gallery-edit' do
        .link-box.blue
          = image_tag "/images/pencil.png"
          Edit Gallery
      = link_to gallery_path(gallery), method: :delete, confirm: 'Are you sure you want to delete this gallery?', class: 'gallery-delete' do
        .link-box.red x Delete Gallery
    .gallery-box.float-right.gallery-minmax{id: gallery.id} -
%tr.gallery-icons
  %td.green
    .gallery{id: "gallery#{gallery.id.to_s}"}
      = form_tag delete_multiple_icons_path, method: :delete do
        - icons = gallery.icons.order('keyword asc')
        - icons.each do |icon|
          .gallery-icon
            = link_to icon_path(icon) do
              = icon_tag icon
              %br
              %span.icon-keyword= icon.keyword
            - if gallery.user_id == current_user.try(:id) and not defined? skip_forms
              .select-button= check_box_tag :"marked_ids[]", icon.id
        - if icons.empty?
          .centered.no-icons — No icons yet —
        - elsif gallery.user_id == current_user.try(:id) and not defined? skip_forms
          .clear.centered.icons-remove
            = hidden_field_tag :gallery_id, gallery.id
            = submit_tag "- Remove selected icons from gallery", name: 'gallery_delete'
            = submit_tag "x Delete selected icons permanently", confirm: "Are you sure? These icons will be gone from the site!"
