= form_for @gallery, :url => gallery_path(@gallery), :method => :put do |f|
  %table.form-table
    %tr
      %th.centered{colspan: 3}
        Edit Gallery
    %tr
      %th.sub Name
      %td.even{colspan: 2}= f.text_field :name, placeholder: "Gallery Name", class: 'text'
    %tr
      %th.subber{colspan: 3} Edit Icons
    - @gallery.icons.order('keyword asc').each do |icon|
      = f.fields_for "icons_attributes[]", icon do |i|
        %tr
          %td.green.centered{rowspan: 3}
            = icon_tag icon
            = i.hidden_field :id
          - klass = cycle('even','odd')
          %td.centered{class: klass} URL
          %td{class: klass}
            - if icon.uploaded?
              = image_tag "/images/accept.png", class: 'vmid'
              Uploaded to site
            - else
              = i.text_field :url, :placeholder => "URL", :class => 'text'
        %tr
          - klass = cycle('even','odd')
          %td.centered{class: klass} Keyword
          %td{class: klass}= i.text_field :keyword, :placeholder => "Keyword", :class => 'text'
        %tr
          - klass = cycle('even','odd')
          %td.centered{class: klass} Credit
          %td{class: klass}= i.text_field :credit, :placeholder => "Credit", :class => 'text'
        %tr
          %td.spacer.subber{colspan:3}
    %tr
      %th.subber{colspan: 3}
        = submit_tag "Save", class: 'button'
