/* Box displaying current icon */
#icon-overlay { 
    background-color: #000000;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 0px;
    left: 15px;
    opacity: 0.4;
    display: none;
    cursor: pointer;
}
#current-icon-holder { position: relative; }

/* Character selector */
#swap-icon { width: 14px;  height: 14px; position: relative; top: 1px; cursor: pointer; }
#character-selector {
    position: absolute;
    top: 0px;
    left: 150px;
    padding:5px 20px 10px 20px;
    z-index: 2;
    min-width: 150px;
    display: none; 
    text-align: left;
}
#character-selector h4 { margin-bottom: 0px; margin-top:0px; }

/* Icon selector */
#gallery { display: none; position: absolute; top: 10px; left: 160px; min-height: 101px; padding: 10px; margin: 0px; z-index: 4; }
#gallery img { cursor: pointer; }
#gallery .gallery-icon {
    min-height: 130px;
    display: inline-block;
    text-align: center;
    line-height: 14px;
    margin-bottom: 10px;
    position: relative;
    width: 130px;
    word-wrap: break-word;
    display: inline-block;
}
#gallery .gallery-name {
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 10px;
}
@media (max-width: 700px) {
    #gallery { left: 0px; }
}
.icon-holder .icon { margin: 0px; }
.icon { position: relative; max-width: 100px; max-height: 100px; margin: 5px; }

/* Main post headers */
.post-header { width: 100%; background-color: #8B8687; color: #eeeeee; padding: 0px; font-size: 18px; }
.post-header span a { color: #eeeeee; }
.post-header span a:hover { color: #dddddd; }
.post-header > div { overflow: hidden; }
.post-header span { line-height: 28px; }
.post-subheader { width: 100%; background-color: #a3a1a0; font-size: 15px; }
.post-subheader span { line-height: 14px; }
.post-navheader { width: 100%; background-color: #B9B6AD; font-size: 15px; }
.post-navheader span { line-height: 14px; }
.post-navheader .view-button { background-color: #a3a1a0; }
.post-expander { min-height: 5px; background-color: #B0BBA9; padding: 0px; }
.post-expander .info { padding: 5px; text-align: center; font-size: 14px; cursor: pointer; }
.post-ender { min-height: 5px; padding: 5px; background-color: #3e384f; color: #FEFEFE; font-size: 16px; font-weight: bold; text-align: center; }

.post-container { overflow: auto; }
.post-edit-box { float: right; margin-left: 10px; margin-bottom: 5px; padding: 5px; }
.post-info-box { text-align: center; padding: 0px; float: left; margin-right: 10px; margin-bottom: 5px; width: 150px; overflow: visible; }
.post-icon { padding: 0px; background-color: #B0BBA9; }
.post-icon img, .post-icon div { margin-top: 10px; margin-right: 10px; margin-left: 10px; }
.post-icon img { margin-bottom: 10px; vertical-align: middle; }
.post-character { background-color: #8B8687; padding: 4px; position: relative; }
.post-screenname { background-color: #a3a1a0; padding: 4px; overflow-wrap: break-word; word-wrap: break-word; }
.post-author { padding: 5px; background-color: #B9B6AD; position: relative; }
.post-footer { padding: 0px; clear: both; }
.post-footer .right-align { width: 100%; font-size: 14px; }
select.per-page { margin-top: 5px; margin-bottom: 5px; }
#post-icon-filler { width: 100px; height: 100px; display: inline-block; background-color: #8B8687; }
#post_content, #reply_content { width: 100%; display: block; }
#reply_content { height: 130px; }
#post_content { height: 300px; }
#post-form-wrapper { margin-left: 160px; margin-right: 10px; }
#post-editor { position: relative; }
.details { display: inline; font-size: 12px; font-style: italic; }

@media (max-width: 600px) {
    .post-info-box { float: none; width: 100%; display: inline-block; }
    .post-icon { float: left; margin-right: 0; margin-bottom: 5px; }
    .post-info-text { float: left; margin-right: 10px; margin-bottom: 5px; }
    #post-form-wrapper { margin-left: 0px; }
    #character-selector { left: 0px; }
    .post-character { background-color: #B9B6AD; }
    .post-author { background-color: #8B8687; }
}

/* Pagination */
.pagination { font-size: 14px; padding: 5px; display: inline-block; }
.pagination .current { font-weight: bold; font-style: normal; background: #3f7055; }
.pagination a, .pagination .current, .pagination .disabled { display: inline-block; padding: 5px 10px; }
.pagination .disabled { color: #101010; text-align: left; }
.pagination a { color: #EEEEEE; }
.pagination a:hover { background-color: #a3a1a0; }
.pagination a:visited { color: #8B8687; }
.paginator .left-align { float: left; display: inline-block; padding: 10px; }
.paginator .right-align { padding: 2px; padding-right: 10px; display: inline-block; float: right; }
.paginator .right-align a { color: black; }
.paginator { color: black; }

/* Post dropdown menu */
#post-menu-holder { position: relative; }
#post-menu-box {
    text-align: left;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 99;
    background-color: #8B8687;
    border-top: 1px solid #a3a1a0;
}
#post-menu-box div { padding: 10px 20px 10px 20px; border-bottom: 1px solid #a3a1a0; }
#post-menu-box a { color: #EEEEEE; }
#post-menu-box img { margin-right: 3px; vertical-align: middle; margin-bottom: 4px; }
#post-menu-box a:hover div { background-color: #B0BBA9; }

/* Deal with RTF */
.post-content > p:first-child { margin-top: 0px !important; }
