= form_for @icon, :url => icon_path(@icon), :method => :put do |f|
  %table.form-table
    %tr
      %th.centered{colspan: 2}
        Edit Icon
    %tr
      %td.green.centered{colspan: 2}= icon_tag @icon
    %tr
      %th.sub URL
      %td.even
        - if @icon.uploaded?
          = image_tag "/images/accept.png", class: 'vmid'
          Uploaded to site
        - else
          = f.text_field :url, :placeholder => "URL", :class => 'text'
    %tr
      %th.sub Keyword
      %td.odd= f.text_field :keyword, :placeholder => "Keyword", :class => 'text'
    %tr
      %th.sub Credit
      %td.even= f.text_field :credit, :placeholder => "Credit", :class => 'text'
    %tr.submit-row
      %th.subber{colspan: 2}
        = submit_tag "Save", class: 'button'
